.chat {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: #36393E;
  height: 100vh;

  .member {
    display: flex;
    // justify-content: space-between;
    height: 100%;
    overflow-y: scroll;

    .chatMessage {
      flex-grow: 1;
      overflow-y: scroll;
    }

    .sex {
      width: 200px;
      height: 100vh;
      background-color: black;

      .sibal {
        width: 20px;
        height: 20px;
        background-color: white;
      }
    }
  }

  .chatInput {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    background-color: #474b53;
    border-radius: 7px;
    margin: 20px;
    color: lightgray;

    form {
      flex-grow: 1;

      input {
        padding: 5px;
        background-color: transparent;
        border: none;
        outline: none;
        color: #fff;
        font-size: large;
        width: 100%;
      }

      .chatInputButton {
        display: none;
      }
    }
    .chatInputIcons {

      .MuiSvgIcon-root {
        padding: 5px;
        cursor: pointer;
      }
    }
  }

}

